// ---------------------------------------------------------------------------
// Spacing Utilities
// ---------------------------------------------------------------------------
// Margin, padding, and gap utilities.
// ---------------------------------------------------------------------------

@use 'generate' as *;

@include generate-gap;
@include generate-padding;
@include generate-margin;
@include generate-auto-margins;
